html
{
    box-sizing: border-box;
}

*, *:before, *::after
{
    box-sizing: inherit;
}

body
{   
    padding: 0;
    margin: 0;
    min-width: 320px;
    font-family: 'TT Lakes';
    background-color: #f8f8f8;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header
{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 1px solid #d9fdf5;
    align-items: center;
    justify-content: space-between;
    padding: 18.59px 16px;
}

.header__left-button
{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.divider
{
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
}

.header__left-divider
{
    display: none;
}

.header__right-divider
{   
    margin-right: 20px;
    align-self: center;
}

.header__right-list--first
{
    display: none;
}

.header__left a img
{
    width: 96.55px;
}

.header__left
{
    display: flex;
    gap: 16.73px;
}

.header__right-list
{
    display: flex;
}

.header__right-img--last
{
    margin-left: 16px;
} 


@media (min-width: 768px){
.header__left
{
    gap: 0;
}

.header__left-divider
{
    display: block;
    align-self: center;
    margin-left: 20px;
    margin-right: 20.73px;
}

.header__right-divider
{
    align-self: center;
    margin: 0 20px;
}
    
.header__right-list--first
{
    display: flex;
    gap: 16px;
}

.header__right
{
    gap: 16px;
}
}

@media (min-width: 1120px){
.header
{
    display: none;
}

}

.main-header__hightclass
{
    width: 4px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #41f6d7;
    position: absolute;
}

.main-header__section-block
{
    display: none;
}

.main-header__section-title
{
    font-size: 28px;
    height: 40px;
    padding-left: 16px;
    margin: 24px 0 8px 0;
}

.main-header__section-list
{
    padding-left: 32px;
    display: flex;
    max-height: 83px;
}

.main-header__section-list a
{
    display:inline-block;
    line-height: 24px;
    text-align: center;
    padding: 8px 25px;
    text-decoration: none;
    color: #7e7e82;
    font-size: 16px;
}

.main-header__section-list li:first-child
{
    border: 2px solid #b8ffec;
    border-radius: 5px;
    background-color: white;
}

.main-header__section-list
{
    overflow-x: auto;
    padding-left: 16px;
}
.main-header__nav
{
    max-height: 45px;
}

.main-header__section-list li
{
    max-height: 45px;
    white-space: nowrap;
}

@media (min-width: 768px){
.main-header__section
{
    margin-left: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main-header__section-list
{
    padding-left: 24px;
}
}


@media (min-width: 1120px){
.header
{
    display: none;
}

.main-header__nav
{
    max-height: 82px;
}

.main-header__section-list
{
    padding-left: 32px;
    overflow-x: none;
    flex-wrap: wrap;
}

.main-header__section-block
{
    display: flex;
    align-items: center;
    padding-right: 32px;
}


.main-header__section-block a
{
    text-decoration: none;
    color: #1b1c21;
    margin-right: 8px;
}

.main-header__section
{
    margin: 0;
    padding-top: 42px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__section-title
{
    padding-left: 32px;
}
.main-header__hightclass
{
    position: absolute;
    top: 61px;
}

.main-header__section-block img:first-of-type {
    margin-right: 32px;
}

.main-header__section-list a
{
    padding: 8px 27px;
}

.main-header__section-list
{
    overflow: none;
}
}

.main-info{
    overflow-x: hidden;
}

.main-info__text-container{
    margin: 0 0 16px 0;
    padding: 0 16px;
}


.main-info__text p:not(:first-child) {
    display: none;
 }

.main-info__anchor{
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.main-info__main-img> img {
    width: 100%;
}

@media (min-width: 768px){
.main-info__text
{
    padding-top: 0;
}
.main-info
{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 0 24px;
}

.main-info__text-container
{
    min-width: 312px;
    max-width: 50%;
    padding: 0;
}

.main-info__text p:nth-child(2)
{
    display: block;
}

.main-info__main-img
{
    padding: 24px 0;
}
}

@media screen and (min-width: 1120px) {
.main-info
{
    padding: 0 34px;
}
.main-info__text p:nth-child(2)
{
    margin-bottom: 0;
}

.main-info__text p:nth-child(3)
{
    margin-top: 0;
    display: block;
}
}